<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>New Budget</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-col full-height">
    <form class="budget-form">
      <div class="body-section flex-col justify-between">
        <ion-list>
          <ion-item>
            <ion-label>
              <div class="flex justify-between align-center" id="wallet">
                <div class="section-input">
                  <h2>Name</h2>
                  <ion-input 
                  type="text"
                  class="ion-no-padding">
                  </ion-input>
                </div>
              </div>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <div class="flex justify-between align-center" id="wallet">
                <div class="section-input">
                  <h2>Amount</h2>
                  <ion-input 
                  type="number"
                  class="ion-no-padding">
                  </ion-input>
                </div>
              </div>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <div class="flex justify-between align-center" id="wallet">
                <div class="input-field">
                  <h2>Duration</h2>
                </div>
              </div>
            </ion-label>

            <ion-select interface="popover">
              <ion-select-option value="monthly">Monthly</ion-select-option>
              <ion-select-option value="weekly">Weekly</ion-select-option>
              <ion-select-option value="annual">Annual</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </div>
  
      <div class="action-btns">
        <ion-button type="submit">Submit</ion-button>
        <ion-button>Cancel</ion-button>
      </div>

    </form>
  </div>
  
</ion-content>
