<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-label>Set Monthly Income</ion-label>
  <ion-input type="number" placeholder="0" [(ngModel)]="monthlyBudget"></ion-input>
  <ion-button (click)="updateMonthlyBudget()">Update Monthly Income</ion-button>

  <br>

  <ion-label>Set Custom Monthly Income</ion-label>
  <ion-input type="number" placeholder="0" [(ngModel)]="customBudget"></ion-input>
  <ion-button (click)="updateCustomBudget()">Update Custom Income</ion-button>

  
</ion-content>
