.progress-ring {
  position: absolute;
}

ion-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px var(--ion-color-light-shade) solid;
}

ion-icon {
  z-index: 2;
  color: var(--ion-color-danger-shade);
}