<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Add Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
    <ion-item class="form-item">
      <ion-label class="form-label" position="stacked">Name</ion-label>
      <ion-input class="form-input" formControlName="name" ></ion-input>
    </ion-item>

    <ion-item class="form-item">
      <ion-label class="form-label" position="stacked">Icon</ion-label>
      <ion-input class="form-input" formControlName="icon"></ion-input>
    </ion-item>
    
    <ion-item class="form-item">
      <ion-label class="form-label" position="stacked">Description</ion-label>
      <ion-input class="form-input" formControlName="description"></ion-input>
    </ion-item>

    <ion-item class="form-item">
      <ion-label class="form-label" position="stacked">Limit</ion-label>
      <ion-input class="form-input" formControlName="limit" type="number"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select formControlName="type" interface="popover">
        <ion-select-option value="0">Expense</ion-select-option>
        <ion-select-option value="1">Income</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button type="submit">Submit</ion-button>
    
  </form>

</ion-content>
