
* {
  font-family: Montserrat !important;
}

ion-toolbar {
  padding-top: 0;
}

.title {
  padding: 1rem;
}

.category-form {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
}

.form-label {
  font-size: 1.5rem !important;
}

.form-input {
  margin-top: 0.5rem;
}

.icon-row {
  padding: 1rem 0;
}

.action-btns {
  display: flex;
  padding: 1rem;
  // text-align: end;

  ion-button {
    width: 100%;
  }
}