<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>New Expense</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-col full-height">
    <form [formGroup]="expenseForm">
      <div class="header-section">
        <div class="value">
          <ion-icon *ngIf="expenseIcon" [name]="expenseIcon"></ion-icon>
          <ion-icon *ngIf="!expenseIcon" name="wallet-outline"></ion-icon>
          <!-- <ion-text *ngIf="!budgetIcon">{{ budgetAltIcon | uppercase }}</ion-text> -->
          <div class="expense-input flex justify-between align-center">
            <!-- <h3 *ngIf="!editorMode">{{ budgetName }}</h3> -->
            <ion-input 
            class="value-input"
            placeholder="Value"
            type="number"
            formControlName="value"
            #budgetName>
            </ion-input>
          </div>
        </div>
        <div class="budget-left">
          <ion-text color="medium">
            Budget Left: {{ 5000 | currency: 'PHP' }}
          </ion-text>
        </div>
      </div>
      <div class="body-section flex-col justify-between">
    
        <div class="section-items">
          <ion-list class="section-item" (click)="openCategoriesModal()">
            <ion-item color="light">
              <ion-avatar slot="start">
                <ion-icon name="wallet"></ion-icon>
              </ion-avatar>
              <ion-label>
                <div class="flex justify-between align-center" id="wallet">
                  <div class="section-input">
                    <h2>Category</h2>
                    <ion-input 
                    type="text" 
                    class="subtitle ion-no-padding" 
                    formControlName="category"
                    #budgetAmount>
                    </ion-input>
                  </div>
                </div>
              </ion-label>
            </ion-item>
          </ion-list>
  
          <ion-list class="section-item">
            <ion-item color="light">
              <ion-avatar slot="start">
                <ion-icon name="calendar-outline"></ion-icon>
              </ion-avatar>
              <ion-label>
                <div class="flex justify-between align-center" id="wallet">
                  <div class="section-input">
                    <h2>Date</h2>
                    <ion-datetime 
                    class="subtitle ion-no-padding" 
                    placeholder="Select Date"
                    formControlName="createdAt"></ion-datetime>
                  </div>
                </div>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
  
        <div class="action-btns">
          <ion-button type="submit" (click)="onSubmit()">Submit</ion-button>
          <ion-button (click)="onCancel()">Cancel</ion-button>
        </div>
      
        <ion-button
        *ngIf="id"
        id="delete-btn" 
        color="danger" 
        shape="round" 
        fill="outline" 
        size="small"
        (click)="deleteBudget()">
          Delete Budget
        </ion-button>
      </div>
    </form>
    
  </div>
  

  
</ion-content>
