<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      My Budgets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content">
    <ion-list>

      <!-- Multi-line sliding item with icon options on both sides -->
      <ion-item-sliding id="item100">
        
        <ion-item class="budget-item" href="#">
          <ion-avatar class="danger" slot="start">
            <ion-icon name="fast-food-sharp"></ion-icon>
          </ion-avatar>

          <div class="budget-info flex justify-between">
            <ion-label class="budget-label">
              <h2>Food</h2>
              <ion-progress-bar color="danger" value="0.85"></ion-progress-bar>
            </ion-label>
  
            <ion-text class="budget-remaining">
              {{ 20000 | number }}
            </ion-text>
          </div>
          
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option>
            <ion-icon slot="icon-only" name="settings"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding id="item100">
        
        <ion-item class="budget-item" href="#">
          <ion-avatar class="success" slot="start">
            <ion-icon name="car"></ion-icon>
          </ion-avatar>

          <div class="budget-info flex justify-between">
            <ion-label class="budget-label">
              <h2>Transportation</h2>
              <ion-progress-bar color="success" value="0.15"></ion-progress-bar>
            </ion-label>
  
            <ion-text class="budget-remaining">
              {{ 50 | number }}
            </ion-text>
          </div>
          
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option>
            <ion-icon slot="icon-only" name="settings"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>


    </ion-list>
    
  </div>

</ion-content>
