ion-header {
  max-width: 700px;
  margin: auto !important;
}

.content {
  height: 100%;
  max-width: 700px;
  margin: auto !important;
}

.budget-item {

  .budget-info {
    width: 100%;
  }

  .budget-label {
    max-width: 60%;
    width: 100%;
  }
  
  .budget-remaining {
    margin-left: 1rem;
    max-width: 30%;
  }
}


ion-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px var(--ion-color-light-shade) solid;

  &.primary-border {
    border: 1px var(--ion-color-primary-shade) solid;
  }

  &.danger-border {
    border: 1px var(--ion-color-danger-shade) solid;
  }

  &.success {
    color: var(--ion-color-success-contrast);
    background: var(--ion-color-success);
  }

  &.warning {
    color: var(--ion-color-warning-contrast);
    background: var(--ion-color-warning);
  }

  &.danger {
    color: var(--ion-color-danger-contrast);
    background: var(--ion-color-danger);
  }
}

