<ion-content color="primary">

  <div class="content">

    <div class="budget flex-col justify-center align-center">
      <ion-text class="budget__title" color="light">
        Budget <ion-icon name="create-outline" (click)="openBudgetEditor()"></ion-icon>
      </ion-text>
      <div class="budget-balance">
        <ion-text class="balance-text budget-balance__text" *ngIf="!budgetEditorActive" (click)="openBudgetEditor()">
          {{ budget | currency: 'PHP' }}
        </ion-text>

        <ion-input 
        type="number" 
        class="budget-balance__text ion-no-padding"
        placeholder="0"
        [(ngModel)]="budget"
        [ngClass]="{hidden: !budgetEditorActive}"
        #budgetEditor>

        </ion-input>
      </div>
      
    </div>

    <div class="details">
      <div class="monthly-budget">
        <div class="monthly-header flex justify-between">
          <div class="title">Month budget</div>
          <div class="percentage">50%</div>
        </div>
        
        <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>

        <div class="monthly-subtitle">
          {{ 12000 }}/{{ 24000 }}
        </div>
      </div>

      <ion-card class="categories-card ion-no-padding">
        <div class="categories-header flex justify-between align-center">
          <ion-text class="categories-card__title">Categories</ion-text>
          <ion-text class="categories-card__add" (click)="addCategory()">Add Category</ion-text>
        </div>
        
        <div class="categories">
          <ion-list class="categories-list">
            <budgets-budget-category 
            *ngFor="let category of categories"
            (click)="navigateToCategory(category)"
            [category]="category">
            </budgets-budget-category>

          </ion-list>
        </div>
      </ion-card>
    </div>
  </div>

</ion-content>
<div *ngIf="budgetEditorActive" class="editor-overlay" (click)="closeBudgetEditor()"></div>