<ion-slides>
  <ion-slide class="slide slide-1 flex-col">
    <i class="slide__icon fas fa-money-bill-wave"></i> 
    <div class="bottom-box">
      <h1>Welcome to Paycheck2Paycheck!</h1>
      <p>Let's get things set up and ready to go</p>
      <ion-button color="light" (click)="next()">Next</ion-button>
    </div>
  </ion-slide>

  <ion-slide class="slide slide-2 flex-col">
    <i class="slide__icon fas fa-money-bill-wave"></i> 
    <div class="bottom-box">
      <h1>How much do you earn in a month?</h1>
      <p>Let's get things set up and ready to go</p>
      <ion-button (click)="next()">Next</ion-button>
    </div>
  </ion-slide>
</ion-slides>