.slide {
  width: 100vw;
  height: 100%;

  .slide__icon {
    font-size: 5rem;
  }
}

.slide-1 {
  background: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}

.slide-2 {
  display: block !important;

  .select-label {
    padding-bottom: 1.5rem;
  }

  .form-item {

      .icon-row {
        margin-top: 2rem;
      }
  }
}

.bottom-box {
  width: 100%;
}

ion-slides {
  height: 100%;
  width: 100vw;
  max-width: 700px;
}

ion-slide {
  max-width: 700px;
}