<ion-slides #slides>
  <ion-slide class="slide slide-1 flex-col">
    <i class="slide__icon fas fa-money-bill-wave"></i> 
    <div class="bottom-box">
      <h1>Welcome to Paycheck2Paycheck!</h1>
      <p>Let's get things set up and ready to go</p>
      <ion-button color="light" (click)="next()">Next</ion-button>
    </div>
  </ion-slide>

  <ion-slide class="slide slide-2 flex-col">
    <!--<i class="slide__icon fas fa-money-bill-wave"></i>-->
    <h1>Setup your first Budget</h1>
    <div class="slide-2-content flex-col justify-between">
      <div class="body-section">
        <ion-item >
          <ion-label>
            <div class="flex justify-between align-center" id="wallet">
              <div class="section-input">
                <h2>Name</h2>
                <ion-input 
                type="text"
                class="ion-no-padding"
                [(ngModel)]="id">
                </ion-input>
              </div>
            </div>
          </ion-label>
        </ion-item>

        <ion-item >
          <ion-label>
            <div class="flex justify-between align-center" id="wallet">
              <div class="section-input">
                <h2>Amount</h2>
                <ion-input 
                type="number"
                class="ion-no-padding"
                [(ngModel)]="limit">
                </ion-input>
              </div>
            </div>
          </ion-label>
        </ion-item>

        <ion-item >
          <ion-label class="select-label">
            <div class="flex justify-between align-center" id="wallet">
              <div class="input-field">
                <h2>Duration</h2>
              </div>
            </div>
          </ion-label>

          <ion-select interface="popover" [(ngModel)]="duration">
            <ion-select-option value="month">Monthly</ion-select-option>
            <!-- <ion-select-option value="weekly">Weekly</ion-select-option> -->
            <ion-select-option value="year">Annual</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item  class="form-item">
          <ion-label class="form-label" position="floating">
            <h2>Icon</h2>
          </ion-label>
          <ion-row class="icon-row">
            <ion-col size="4" *ngFor="let ico of iconListKeys" >
              <ion-button *ngIf="!iconList[ico]" (click)="setIcon(ico)" color="medium" expand="block" fill="clear">
                <ion-icon slot="icon-only" [name]="ico"></ion-icon>
              </ion-button>
              <ion-button *ngIf="iconList[ico]" (click)="setIcon(ico)" color="dark" expand="block" fill="clear">
                <ion-icon slot="icon-only" [name]="ico"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-item>
          
      </div>

      <ion-button [disabled]="!(formPopulated())" class="next-btn" (click)="next()">Next</ion-button>
    </div>
  </ion-slide>

  <ion-slide class="slide slide-4 flex-col">
    <i class="slide__icon fas fa-money-bill-wave"></i> 
    <div class="bottom-box">
      <h1>Let's begin!</h1>
      <p>All set up and ready to go</p>
      <ion-button (click)="finish()">Finish</ion-button>
    </div>
  </ion-slide>
</ion-slides>