
.amount-section {
  padding    : 1rem;

  ion-select::part(text) {
    flex: unset;
  }
}

.back-button {
  --icon-font-size: 1rem;
}

.expense-details {
  
  .expense-date {
    margin-bottom: 0.5rem;
  }
}

.expenses-card {
  margin: 0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 100%;
  padding-top: 1rem;
}

.date-select {
  font-size: small;
}