<ion-content color="light">

  <div class="expenses full-height flex-col">
    <div class="expense-head">
      <div class="amount-section">
        <div class="balance-header flex align-center justify-between">
          <ion-text>
            Total Expenses
          </ion-text>
          <ion-back-button class="back-button" text="Back" defaultHref="/"></ion-back-button>
        </div>
        
        <ion-text class="balance-text">
          {{ 5000 | currency: 'PHP' }}
        </ion-text>
        <ion-select [(ngModel)]="timePeriod" (ionChange)="setTimePeriod()" >
          <ion-select-option value="today">Today</ion-select-option>
          <!-- <ion-select-option value="week">This Week</ion-select-option> -->
          <ion-select-option value="month">Month</ion-select-option>
        </ion-select>
        
      </div>
      <div class="chart-section"></div>

    </div>

    <div class="expense-body full-height">
      <ion-card class="expenses-card ion-no-padding">
        <ion-list>

          <ion-item-sliding *ngFor="let expense of expenses">
            <ion-item>
              <ion-label>
                <h2 class="expense-category">{{ expense.value || 0 | currency }}</h2>
                <ion-text color="medium">
                  <p class="expense-name">{{ expense.name }} </p>
                </ion-text>
                
              </ion-label>
              <div class="expense-details flex-col align-end">
                <ion-note class="expense-date">
                  {{ expense.createdAt | date:'dd/MM/yyyy' }}
                </ion-note>
                <ion-note class="expense-value">{{ expense.budgetId}}</ion-note>
              </div>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option>
                <ion-icon slot="icon-only" name="settings"></ion-icon>
              </ion-item-option>
              <ion-item-option color="danger" (click)="deleteExpense(expense)">
                <ion-icon slot="icon-only"name="trash" ></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

        </ion-list>
      </ion-card>
      
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
