ion-slides {
  --bullet-background: var(--ion-color-dark);
  --bullet-background-active: var(--ion-color-success-contrast);
}

ion-slide {
  height: 100vh;
}

.slides {
  height: 100%;
}

.slide {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;

  &.primary {
    background: var(--ion-color-primary-super-tint);
  }

  &.success {
    background: var(--ion-color-success-super-tint);

    .buttons {

      .add-expense {
        font-size: 2rem;
      }

      ion-icon {
        background: var(--ion-color-success-even-super-tint);
        padding: 1rem;
        border-radius: 50%;
      }
    }
  }

  &.warning {
    background: var(--ion-color-warning-super-tint);

    .buttons {

      .add-expense {
        font-size: 2rem;
      }

      ion-icon {
        background: var(--ion-color-warning-even-super-tint);
        padding: 1rem;
        border-radius: 50%;
      }
    }
  }

  &.danger {
    background: var(--ion-color-danger-super-tint);

    .buttons {

      .add-expense {
        font-size: 2rem;
      }

      ion-icon {
        background: var(--ion-color-danger-even-super-tint);
        padding: 1rem;
        border-radius: 50%;
      }
    }
  }

  .budget-limit {
    font-size: 3.5rem;
    padding-top: 50%;
    font-weight: 700;
  }

  .budget-days-left {
    margin-top: 5rem;

    #days {
      color: var(--ion-color-primary);
    }
  }

  .buttons {
    margin-top: 4rem;
  }
  
}

.swiper-pagination  {
  top: 10% !important;
}
