<ion-content fullscreen scroll-y="false">
  <ion-slides class="slides ion-no-padding ion-no-margin"  color="success" pager>
    <ion-slide *ngFor="let budget of budgetService.budgets">
      <div class="slide" [class]="budgetService.getCssClass(budget)">
        <h3>{{ budget.id }}</h3>
        <ion-text class="budget-limit">
          {{ budget.limit - budget.consumed | currency }}
        </ion-text>
        <ion-text class="budget-limit-subtitle">
          left this month
        </ion-text>
        <ion-text class="budget-days-left">
          <span id="days">{{ budgetService.getRemainingDays(budget) }}</span> days left
        </ion-text>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>