<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides class="slides" pager>
    <ion-slide *ngFor="let budget of budgetService.budgets">
      <div class="slide">
        <h3>{{ budget.id }}</h3>
        <ion-text>
          {{ budget.limit - budget.consumed | number }}
        </ion-text>
        <ion-text>
          left this month
        </ion-text>
        <ion-text>
          {{ budgetService.getRemainingDays(budget) }} days left
        </ion-text>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>