<ion-content fullscreen scroll-y="false">
  <div class="no-budgets" *ngIf="budgetService.budgets.length === 0">
    No Budgets. Add one now!
  </div>
  <ion-slides *ngIf="budgetService.budgets" class="slides ion-no-padding ion-no-margin" color="success" pager>
    <ion-slide *ngFor="let budget of budgetService.budgets">
      <div class="slide" [class]="budgetService.getCssClass(budget)">
        <div class="header flex justify-around align-center">
          <ion-icon name="settings-outline invisible"></ion-icon>
          <h3>{{ budget.id }}</h3>
          <ion-icon name="settings-outline"></ion-icon>
        </div>
        
        <ion-text class="budget-limit">
          {{ budget.limit - budget.consumed | currency }}
        </ion-text>
        <ion-text class="budget-limit-subtitle">
          left this {{ getDuration(budget) }}
        </ion-text>
        <ion-text class="budget-days-left">
          <span id="days">{{ budgetService.getRemainingDays(budget) }}</span> days left
        </ion-text>

        <div class="buttons flex full-width justify-around">
          <div class="budgets no-outline" routerLink="/budgets">
            <ion-icon name="wallet-outline"></ion-icon>
          </div>
          <div class="add-expense no-outline" (click)="newExpense(budget)">
            <ion-icon name="add"></ion-icon>
          </div>
          <div class="expenses no-outline" routerLink="/expenses">
            <ion-icon name="list"></ion-icon>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>